.svgContainer{
    position: fixed;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    animation: removeIntroScreen .5s ease forwards 1.5s;
    z-index: 5;
        #logo{
            width: 100%;
            height: 230px;
            position: absolute;
            overflow: visible;
            #path{
                stroke-dasharray: 1117; 
                stroke-dashoffset: 1117;
                opacity: .7;
                filter: blur(.3px) drop-shadow(0 0.2rem 0.2rem rgb(205, 186, 48));
                stroke: yellow;
                stroke-width: 2px;
                // filter: drop-shadow(0 0.2rem 0.4rem rgb(205, 186, 48));
                //   animation: lineAnimation 2.5s ease forwards, fillAnimation 0.5s ease forwards 1s;
                animation: lineAnimation 2.5s ease forwards;
             }
        }
}

@keyframes fillAnimation{
    from{
        fill: transparent;
    }
    to{
        fill: var(--neonColor);
    }
}
@keyframes lineAnimation{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes removeIntroScreen{
    to{
        transform: translateY(-100%);
    }
}