.header {
    max-width: 100%;
    .link:-webkit-any-link {
        display: flex;
        justify-content: center;
        height: 150px;
    }

    .text-logo {
        max-width: 100%; 
        height: auto; 
        display: block; 
        object-fit: contain; 
    }
}
