@import "./pages/startpage/__Startpage";
@import "./components/flimmerLogo/__FlimmerLogo";
@import "./components/SvgAnimation/__SvgAnimation.scss";
@import "./components/artistsNavigation/_ArtistNavigation";
@import "./components/header/_Header";
@import "./pages/aboutUs/AboutUs.scss";
@import "./pages/profilePage/_ProfilePage";
@import "./pages/faq/Faq.scss";
@import "./pages/artists/Artists.scss";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:-webkit-any-link{
    text-decoration: none;   
}