.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background: linear-gradient(45deg, #10181c, #25434d);
    color: white;
    gap: 100px;
    padding: 100px;
}